body {
    font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
}

.hidden {
    display: none;
}

.login {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

#holder table {
    border: none;
    border-collapse: collapse;
}

#holder tbody tr {
    border-left: thin solid black;
    border-right: thin solid black;
}

#holder tbody tr:first-child {
    border-top: thin solid black
}

#holder tbody tr:last-child {
    border-bottom: thin solid black;
}

#holder th,
#holder td {
    padding: 2px;
}

#holder td.price {
    text-align: end;
}

.price-over {
    background-color: #98FB98
}

col {
    border: thin solid black;
}

.col-currency,
.col-number {
    text-align: right;
}

.col-mats {
    text-align: center;
}
